
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    padding-top: 100px;
    
    overflow-x: hidden;
   
}


nav {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    background-color: #222;
    color: #fff;
    padding: 20px 40px;
    z-index: 100;
    width: 100%;
    
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
    
}


nav ul {
    list-style: none;
    display: flex;
    justify-content: space-around;
    align-items: center;
}


nav ul li a {
    text-decoration: none;
    color: #fff;
    font-size: 18px;
    padding: 12px 20px;
    transition: background-color 0.3s ease, color 0.3s ease;
}


nav ul li:first-child a {
    font-family: 'Courier New', Courier, monospace;
    font-size: 28px;
    font-weight: bold;
    color: #00ff99;
}


nav ul li a:hover {
    background-color: #444;
    border-radius: 5px;
}


section {
    display: flex;
    flex-direction: column;
    justify-content: center;
   
    align-items: center;
    text-align: center;
    padding: 0 20px;
   
    min-height: 100vh;
    height: 100%;
   
    scroll-snap-align: start;
    overflow: hidden;
}


section h1 {
    font-size: 8vw;
  
    margin-bottom: 20px;
    font-weight: 700;
    line-height: 1.2;
}


section p {
    font-size: 4vw;
  
    line-height: 1.6;
    max-width: 90%;
    text-align: center;
    margin: 0 auto;
}


#home>div {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
    max-width: 1200px;
    width: 100%;
}


#home img {
    max-width: 50%;
    width: 100%;
    height: auto;
    border-radius: 12px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
}


#home {
    background: linear-gradient(to bottom, #dcdcdc, #a9a9a9);
}

#about {
    background: linear-gradient(to bottom, #a9a9a9, #666666);
}

#howToBuy {
    background: linear-gradient(to bottom, #666666, #333333);
    color: white;
}

#roadmap {
    background: linear-gradient(to bottom, #333333, #000000);
    color: white;
}


body,
section {
    margin: 0;
    padding: 0;
}


#home {
    padding-top: 80px;
   
}


html,
body {
    height: 100%;
}
